/*****************************************************************
http://www.colorcombos.com/color-schemes/428/ColorCombo428.html
#74A6BD, #7195A3, #D4E7ED, #EB8540, #B06A3B, #AB988B.
******************************************************************/

body {background-color: #fff; font-family: helvetica,arial-new,verdana; font-size: 1.4em; color: #EB8540; }

a.skid:link    { font-family: helvetica,arial-new,verdana; text-decoration:underline; color: #B06A3B;}
a.skid:visited { text-decoration:underline; color: #B06A3B;}
a.skid:hover   { background-color: #fff; color: #7195A3; text-decoration: none; }
a.skid:active  { text-decoration:none; color: #B06A3B; }

a.skid--cron:link    { text-decoration:none; color: #7195A3;}
a.skid--cron:visited { text-decoration:none; color: #7195A3;}
a.skid--cron:hover   { background-color: #fff; color: #B06A3B; text-decoration: none; }
a.skid--cron:active  { text-decoration:none; color: #7195A3; }

h1.skid  { font-size: 2em; color: #B06A3B; font-family: helvetica,arial-new,verdana;}
p.skid   { font-size: 0.8em; color: #AB988; font-family: helvetica,arial-new,verdana;}

.skid--content { width: 960px; margin-left: auto; margin-right: auto;}

.skid { font-family: monospace, "Lucida Console", Courier; background:#fff; border-collapse:collapse; text-align:left; }
.skid th {color: #7195A3; height: 30px; border-bottom: 2px solid #7195A3; padding:0px 0px; font-size: 1.0em;}
.skid td {color:#74A6BD; height: 35px; padding: 0px 0px 0px 0px; border-bottom: 1px solid #D4E7ED; }
.skid tbody tr:hover td{color:#EB8540;}

.skid--timeline { width: 100%; height: 400px; border: 2px solid;}

.skid--table { width: 100%; margin-left: auto; margin-right: auto; margin-bottom: 20px; margin-top: 25px; font-size: 0.75em;}
.skid--cron { width: 250px; }

.skid--track_color { min-width: 35px; text-align: center; }